
.TableSorter {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  direction: ltr; }
  .TableSorter--multi-right, .TableSorter--multi-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .TableSorter__multi-container {
    display: flex;
    flex-direction: column; }
  .TableSorter__icon {
    padding-right: 5px;
    color: #e87d1e;
    line-height: inherit; }
