.Example {
	display: flex;
	margin: 1em 0;
	padding: 1em;
	border: 1px solid cornflowerblue;
  justify-content: space-between;

  > p {
    margin: 0 auto;
    color: navy;
    font-family: 'Roboto Condensed-Bold', 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
  }
}
