.TableSorter {
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	outline: none;
	direction: ltr;

	&--multi-right,
	&--multi-left {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}

	&__multi-container {
		display: flex;
		flex-direction: column;
	}

	&__icon {
		padding-right: 5px;
		color: #e87d1e;
		line-height: inherit;
	}
}
